In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
data=pd.read_csv(r"D:\gender_classification_v7.csv")

C:\Users\NIMMY\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\NIMMY\anaconda3\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
C:\Users\NIMMY\anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\NIMMY\anaconda3\lib\site-packages\numpy\.libs\libopenblas.QVLO2T66WEPI7JZ63PS3HMOHFEY472BC.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [2]:
data.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [3]:
data.isnull().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

#### Dummy encoding

In [5]:
data['gender']=pd.get_dummies(data=data['gender'],drop_first=True)
data

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,1
1,0,14.0,5.4,0,0,1,0,0
2,0,11.8,6.3,1,1,1,1,1
3,0,14.4,6.1,0,1,1,1,1
4,1,13.5,5.9,0,0,0,0,0
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,0
4997,1,11.9,5.4,0,0,0,0,0
4998,1,12.9,5.7,0,0,0,0,0
4999,1,13.2,6.2,0,0,0,0,0
5000,1,15.4,5.4,1,1,1,1,1

In [6]:
data=data.drop(['long_hair'], axis=1)

In [7]:
#BN Network

In [8]:
from pgmpy.models import BayesianModel
model=BayesianModel([
    ('gender', 'distance_nose_to_lip_long'),
    ('gender', 'forehead_width_cm'),
    ('gender', 'nose_long'),
    ('gender', 'lips_thin'),
    ('gender', 'nose_wide'),
    ('gender', 'forehead_height_cm')
])

In [9]:
import re
from sklearn.model_selection import train_test_split
train,test = train_test_split(data, test_size=0.5, random_state=100)
X_train=train.iloc[:,:6]
X_test=test.iloc[:,:6]
y_train=train['gender']
y_test=test['gender']

In [11]:
#finding CPDs using MLE

In [12]:
from pgmpy.estimators import MaximumLikelihoodEstimator

In [13]:
model.fit(train, estimator=MaximumLikelihoodEstimator)

In [14]:
from sklearn.metrics import r2_score

In [15]:
train_accuracy=r2_score(y_train,model.predict(X_train))
train_accuracy

100%|██████████████████████████████████████████████████████████████████████████████| 1797/1797 [00:22<00:00, 81.10it/s]

0.8991628273846871

In [16]:
y_pred = model.predict(X_test)

100%|█████████████████████████████████████████████████████████████████████████████| 1808/1808 [00:13<00:00, 134.06it/s]

In [17]:
test_accuracy=r2_score(y_test,y_pred)
test_accuracy

0.9168013306464511